body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* Header Styles */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    gap: 70px;
}

.content_left {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;

}

.menu_options {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    justify-content: center;
    list-style: none;
    color: #F9FAF8;
    font-weight: 300;
}

/* Content Section 1 Styles */

.content_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 100px 0;
}

.content_1_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    max-width: 900px;
}

.content_1_left {
    flex-shrink: 1;
}

.content_1_heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
    max-width: 400px;
}

.content_1_text {
    color: #F9FAF8;
    max-width: 400px;
    padding-bottom: 15px;
    font-weight: 300;
}

.content_1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 25px;
}

.content_1_img_container {
    width: 430px;
    min-width: 0px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border:#F9FAF8;
    border-width: 5px;
    border-style: solid;
}

/* Content Section 2 Styles */

.content_2 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content_2_subheading {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.content_2_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_2_boxes_left,
.content_2_boxes_right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content_2_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
}

.content_2 img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border: #3882F6;
    border-width: 5px;
    border-style: solid;
    border-radius: 15%;
}

.content_2_img_container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_2_text {
    text-align: center;
    font-weight: 300;
}

/* Content Section 3 Styles */

.content_3 {
    background-color: #E5E7EB;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_3_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
}

.content_3_quote {
    font-size: 36px;
    font-weight: 300;
}

.content_3_subtext {
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
    padding-right: 50px;
}

/* Content Section 4 Styles */

.content_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.content_4_box {
    background-color: #3882F6;
    max-width: 900px;
    height: 150px;
    border-radius: 10px;
    padding: 0 100px;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_4_left {
    color: #F9FAF8;
    min-width: 150px;
}

.content_4_subheading {
    font-size: 18px;
    font-weight: 800;
}

.content_4_text {
    font-weight: 300;
}

.content_4_button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8;
    border-radius: 7px;
    border-style: solid;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 25px;
}

/* Footer Styles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px 0;
}

.footer_text {
    color: #F9FAF8;
}
